#page-mod-zatuk-view div[role="main"] .khost-loaded.kplayer-loaded {
    float: none;margin: 30px auto;
}
.zatuk_view_left_wrapper #intro{
    padding: 0 !important
}
.zatuk_course_detail_container {
    padding: 1rem 1rem 2rem;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0,0,0,.05) 0 1px 0, rgba(0,0,0,.05) 0 2px 6px, rgba(0,0,0,.05) 0 10px 20px;
}
#page-mod-zatuk-reports #page {
    background-color: #f6f7fa;
}
.path-mod-zatuk #page #region-main {
    background-color: transparent;
}

.path-mod-zatuk .dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: .4rem !important;
    border-radius: 4px !important;
    border: solid 1px #efefef;
    background-color: #ffffff;
    padding: 0px !important;
    display: inline-block;
    height: 1.8rem;
    min-width: 1.8rem !important;
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    font-weight: 400 !important;
    line-height: 1.8rem;
    cursor: pointer;
}
.path-mod-zatuk .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.path-mod-zatuk .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.path-mod-zatuk .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus {
    border: solid 1px #efefef;
    background-color: #0e4ca3;
    color: #fff !important;
    background-image: none;
}

@media only screen and (max-width: 766px) {
    #page-mod-zatuk-view .mdl-align {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #page-mod-zatuk-view .activity-navigation .float-left{
        float: none !important;
        text-align: center;
    }

    #page-mod-zatuk-view .activity-navigation .float-right{
        float: none !important;
        text-align: center;
    }

    #page-mod-zatuk-view a#action-menu-toggle-3 {
        position: relative;
        top: -30px;
    }

    #page-mod-zatuk-view .course_detail_container .like_unlike.disable_pointer {
        margin-left: 10px;
    }

    #page-mod-zatuk-view .course_detail_container {
        font-size: 14px;
    }
}

#page-mod-zatuk-view .mytooltip:hover .mytooltiptext, .overall_users.mt-10:hover .mytooltip .mytooltiptext {
    display: none;
}

#page-mod-zatuk-index .nav-tabs {
    border: solid 1px #c4a9e7;
    display: inline-flex;
    border-radius:5px;
    overflow: hidden;
}
#page-mod-zatuk-index .nav-tabs .nav-link {
    color: #a89b9b;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    margin-right: .0rem;
    margin-bottom: .0rem;
    padding: .7em 1.5em !important;
}
#page-mod-zatuk-index .dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius:5px !important;
    padding: 1px 7px !important;
}
#page-mod-zatuk-index .nav-tabs .nav-link.active {
    border-bottom: none;
    background-color: #0e4ca3;
    color:#fff;
}
#page-mod-zatuk-index .card.main_card h6 {
    font-weight: 600;
    padding: 10px 0px 0px 0px;
}
#page-mod-zatuk-index h1 {
    font-size: 18px;
    font-weight: 500;
}
#page-mod-zatuk-index .te_mt .upload {
    color: #6598ca;
}
#page-mod-zatuk-index .te_mt {
    font-size:12px;
    line-height: 0.6;
    color: #baa3a3;
}
#page-mod-zatuk-index .extended_menu_list {
    list-style-type: none;
}
#page-mod-zatuk-index .upload_btn {
    font-size: 13px;
    background-color: #0e4ca3;
}
#page-mod-zatuk-index #zatuk_uploaded_videos_data .card-body,
#page-mod-zatuk-index #get_zatuk_data .card-body {
    flex: 1 1 auto;
    padding: .5rem;
}
#page-mod-zatuk-index #zatuk_uploaded_videos_data_filter,
#page-mod-zatuk-index #get_zatuk_data_filter {
    float: right;
}
#zatuk_uploaded_videos_data, #get_zatuk_data {
    width: 100% !important;
}
#zatuk_uploaded_videos_data tr,
#get_zatuk_data tr {
    background: none;
}
#zatuk_uploaded_videos_data tbody td,
#get_zatuk_data tbody td {
    width: 20%;
    border-top: none;
    float: left;
    background: none;
}
#zatuk_uploaded_videos_data tbody td.dataTables_empty,
#get_zatuk_data tbody td.dataTables_empty {
    width: 100%;
    text-align: center;
    border: 1px solid #0e4ca3;
    border-radius: 6px;
}
#page-mod-zatuk-index [type="search"],[type="search"]:focus {
    outline-offset: -2px;
    padding: 5px 5px 5px 10px;
    overflow: hidden;
    -webkit-box-shadow: none;
    outline: none;
    box-shadow: 0px 0px 1px 1px #ccc;
    border: none;
    border-radius: 20px;
}
#page-mod-zatuk-index #page{
    background-color: #f6f7fa;
}
#page-mod-zatuk-index #region-main {
    background-color: #f6f7fa;
}
#page-mod-zatuk-index #zatuk_uploaded_videos_data tr:nth-child(odd) td, tr:nth-child(odd) td {
    background: transparent !important;
}
#page-mod-zatuk-index #get_zatuk_data tr:nth-child(odd) td {
    background: #f6f7fa!important;
}
#page-mod-zatuk-index #zatuk_uploaded_videos_data .card, #get_zatuk_data .card {
    background-color: #f6f7fa;
}
#page-mod-zatuk-index #zatuk_uploaded_videos_data .main_card .card-title, #get_zatuk_data .main_card .card-title {
    font-size: 16px;
    color: #000;
    padding: 15px 0px 0px 0px;
}
#page-mod-zatuk-index #get_zatuk_data .main_card .card-block {
    min-height: 100px;
}
#page-mod-zatuk-index #zatuk_uploaded_videos_data .main_card .card-block, #get_zatuk_data .main_card .card-block {
    padding: 0px 0px 0px 3px;
}

#page-mod-zatuk-index #zatuk_uploaded_videos_data .main_card .te_mt, #get_zatuk_data .main_card .te_mt {
    font-size: 13px;
    color: #a09cab;
    padding: 8px 0px 0px 0px;
    font-weight: 500;
}
.zatuk_upload_by_clr {
    color: #4b79ba;
}
#page-mod-zatuk-index #zatuk_uploaded_videos_data_wrapper #zatuk_uploaded_videos_data_filter, #get_zatuk_data_wrapper #get_zatuk_data_filter {
    position: absolute;
    top: -34px;
    right: 33px;
}
#page-mod-zatuk-index #zatuk_uploaded_videos_data_wrapper #zatuk_uploaded_videos_data_filter [type="search"], [type="search"]:focus, #get_zatuk_data_wrapper #get_zatuk_data_filter [type="search"], [type="search"]:focus {
    margin-left: 5px;
    box-shadow: 1px 3px 3px #dbdcdfed;
}
#page-mod-zatuk-index .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background-color: #f6f7fa;
    color: #535561;
}
@media only screen and (max-width: 767px) {
    #zatuk_uploaded_videos_data tbody td,
    #get_zatuk_data tbody td {
        width: 100%;
    }
    #page-mod-zatuk-index #zatuk_uploaded_videos_data .main_card .te_mt, #get_zatuk_data .main_card .te_mt {
        padding: 0px 0 0 0;
        line-height: 1.6;
    }
    #page-mod-zatuk-index #zatuk_uploaded_videos_data_wrapper #zatuk_uploaded_videos_data_filter, #get_zatuk_data_wrapper #get_zatuk_data_filter {
        position: static;
    }

    #page-mod-zatuk-index .upload_btn {
        margin-bottom: 15px;
    }
    #page-mod-zatuk-index #region-main .nav-tabs .nav-item {
        width: 100%;
    }
    #page-mod-zatuk-index #region-main .nav-tabs {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    #zatuk_uploaded_videos_data tbody td,
    #get_zatuk_data tbody td {
        width: 50%;
    }
}
#page-mod-zatuk-index .zatuk_video {
    margin:0 auto;
}
.zatuk-list{
    clear: both;
}

.zatuk-list .dashboard-card-deck .dashboard-card .dashboard-card-img {
    height: 12rem;
}
#page-mod-zatuk-index div[data-region="page-loader"] > div {
    text-align: center;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
}
#page-mod-zatuk-index div[data-region="page-loader"] {
    background: #a5a5a54d;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
}

.zatuknodatadialogue_content .icon {
    background-image: url('[[pix:mod_zatuk|icon]]');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 63px;
    margin: 0px 5px;
}
.zatukconfirmationfaileddialogue_content .icon {
    background-image: url('[[pix:mod_zatuk|zatuk_failed]]');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 15px auto;
}
.zatukvideocardheader {

    min-height: 152px;
}

#page-mod-zatuk-index .zatukimagecard {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
