<div id="fitem_id_externalurl" class="form-group row zatuk fitem clearfix ">
    <div class="col-md-3  browse_video" id="browse_video">
        <label class="col-form-label d-inline " for="id_externalurl">
            {{#str}} browse_video, mod_zatuk {{/str}}<abbr class="initialism text-danger" title="{{#str}} required {{/str}}">
            <i class="icon fa fa-exclamation-circle text-danger fa-fw "
            title="{{#str}} required {{/str}}" aria-label="{{#str}} required {{/str}}"></i></abbr>
        </label>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="custom-zatuk">
        <div class="{{class}} zatuk_file_selector w-100" >
        <b>{{#str}} preview {{/str}}</b>
            <video id="mod_zatuk_form_video"
            class="zatuk_video video-js vjs-default-skin vjs-big-play-centered vjs-layout-medium"
            controls preload="auto" width="450" height="250">
            </video>
        </div>
        <button type="button"
         id="filepicker-button-js-{{clientid}}"
         class="visibleifjs btn btn-secondary pull-right"
         style="margin-right:70%;margin-top:5px;">
        {{straddlink}}
        </button>
        {{{printoutfilepicker}}}
    </div>
</div>
