{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_zatuk/player
    Example context (json):
    {
        "itemid": "10",
        "isview": "true",
    }
}}
<div class="col-lg-8 col-md-7 zatuk_view_left_wrapper">
    <div class='w-100'>
        <video id='my_video_1' class='w-100 video-js vjs-default-skin vjs-big-play-centered' controls preload='auto'
          data-setup='{"playbackRates": [0.5, 1, 1.5, 2]}' width="800" height="450">
        </video>
    </div>
    <div class="w-100 zatuk_course_detail_container d-flex justify-content-between align-items-center flex-row flex-wrap'">
        <div class="overall_users mt-10">
        {{#isview}}
        </div>
        {{/isview}}
    </div>
</div>

<div id="heatcontainer" ></div>

