{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_zatuk/preview
    Example context (json):
    {
        "class": "sample_class",
        "clientid": "ABc123"
    }
}}
<div id="fitem_id_externalurl" class="form-group row  url fitem   ">
    <div class="col-md-3  browse_video" id="browse_video">
        <label class="col-form-label d-inline " for="id_externalurl">
           {{#str}}browsevideo, zatuk{{/str}}<abbr class="initialism text-danger" title="{{#str}}required, zatuk{{/str}}"><i class="icon fa fa-exclamation-circle text-danger fa-fw " title="{{#str}}required, zatuk{{/str}}" aria-label="Required"></i></abbr>
        </label>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="custom-url">
        <div class="{{class}} zatuk_file_selector">
            <video id="mod_zatuk_form_video" class="zatuk_video video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" height="150" width="250">
            </video>
        </div>
    </div>
    <button type="button" id="filepicker-button-js-{{clientid}}" class="visibleifjs btn btn-secondary" style="margin-right:70%;margin-top:5px;">
    {{#str}}selectvideo, zatuk{{/str}}
    </button>'
</div>
