<div class="mb-2  ml-auto">
    <a tabindex="0" title="{{#str}}addvideo, mod_zatuk{{/str}}"  role="button" class="btn btn-primary mr-2" data-action="uploadvideo" data-zatukrepoenabled = "{{zatukrepoenabled}}" data-id=0  >{{# str}}uploadvideo, mod_zatuk {{/ str}}</a>
</div>