{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_zatuk/uploadvideo
        Example context (json):
    {
        "zatukrepoenabled": "1",
    }
}}
<div class="mb-2  ml-auto">
    <a tabindex="0" title="{{#str}}addvideo, mod_zatuk{{/str}}"  role="button" class="btn btn-primary mr-2" data-action="uploadvideo" data-zatukrepoenabled = "{{zatukrepoenabled}}" data-id =0 >{{# str}}uploadvideo, mod_zatuk {{/ str}}</a>
</div>
